# --- ARQUIVOS DE SISTEMA ---
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes
__MACOSX
desktop.ini

# --- IDE / EDITOR ---
.vscode/
.idea/

# --- PYTHON GERAL ---
# Isso pega arquivos python compilados em QUALQUER pasta
__pycache__/
*.pyc
*.pyo
*.pyd

# --- AMBIENTES VIRTUAIS ---
# Isso pega a pasta .venv onde quer que ela esteja (na raiz ou em etl/)
.venv/
venv/
env/
ENV/

# --- SEGURANÇA (CRÍTICO) ---
# Isso ignora qualquer arquivo chamado .env em qualquer lugar
.env

# --- DADOS DO ETL (AUTOMACAO) ---
etl/importar/*
!etl/importar/.gitkeep
etl/exportar/*
!etl/exportar/.gitkeep

# --- LOGS ---
*.log

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
docs/playwright-report/

# --- DEBUGGING NODE/NPM ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*